<section class="proposal-section">
  <h2>Proposals for {{ project.projectTitle }}</h2>
  <p>Required Skills mentioned for Project : {{project.requiredSkills}}</p>
  <ul class="proposal-list">
    <li *ngFor="let proposal of proposals" class="proposal-item">
      <div class="proposal-content">
        
        <div class="proposal-description">{{ proposal.proposalComment }}</div>
        <button mat-button color="primary" (click)="openExpertDialog(proposal)">Expert Info</button>
        
        <button
          
          color="primary"
          (click)="acceptProposal(proposal)"
          class="accept-button"
        >
          Accept
        </button>
      </div>
    </li>
  </ul>
  <button mat-button (click)="closeDialog()" class="close-button">Close</button>
</section>
