form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-raised-button {
    width: 100%;
    margin-top: 10px;
  }
  
  mat-tab-group {
    margin-top: 20px;
  }

  .mat-tab-label {
    background-color: #007bff;
    color: white;
  }

  .mat-tab-label.mat-tab-label-active {
    background-color: #0056b3;
  }
  
  mat-tab-body {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;    
  }
  
  .table{
    width : 50%;
    margin: 5% 25% 25%;
    border: 1px solid;
  }

  form{
    margin-top : 30px;
  }