<!-- registration.component.html -->
<mat-tab-group>
    <!-- Tab for Innovators -->
    <mat-tab label="Innovator">
      <form [formGroup]="loginInnovatorForm" (ngSubmit)="loginInnovator(loginInnovatorForm)">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="Email" name="Email" required>
          </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="Password" name="Password" required>
        </mat-form-field>
  
        <button mat-raised-button type="submit" [disabled]="loginInnovatorForm.invalid">Login</button>
      </form>
    </mat-tab>
  
    <!-- Tab for Experts -->
    <mat-tab label="Expert">
        <form [formGroup]="loginExpertForm" (ngSubmit)="loginExpert(loginExpertForm)">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="Email" name="Email" required>
            <!-- <mat-error class="middle" *ngIf="loginInnovatorForm.controls['Email'].errors && loginInnovatorForm.controls['Email'].touched"> -->
                <mat-error *ngIf="loginInnovatorForm.controls['Email'].hasError('required')">
                    Please provide an Email
                </mat-error>
                <!-- <mat-error *ngIf="loginInnovatorForm.controls['Email'].hasError('email')">
                    Please provide a valid Email
                </mat-error> -->
            <!-- </mat-error> -->
          </mat-form-field>    
            
          

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="Password" name="Password" required>
        </mat-form-field>
  
        <button mat-raised-button type="submit" [disabled]="loginExpertForm.invalid">Login</button>
      </form>
    </mat-tab>
  </mat-tab-group>
  
