<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Innovator" mat-a>
      <form [formGroup]="loginInnovatorForm" (ngSubmit)="loginInnovator(loginInnovatorForm)">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Email" formControlName="Email" name="Email" required>
            <mat-error *ngIf="loginInnovatorForm.controls['Email'].hasError('required')">
              Please provide an Email
            </mat-error>
            <mat-error *ngIf="loginInnovatorForm.controls['Email'].hasError('email')">
              Invalid Email
            </mat-error>
          </mat-form-field>
        </p>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" formControlName="Password" name="Password" required>
            <mat-error *ngIf="loginInnovatorForm.controls['Password'].hasError('required')">
              Please provide a Password
            </mat-error>
            <mat-error *ngIf="loginInnovatorForm.controls['Password'].hasError('minlength')">
              Minimum 3 Characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button mat-raised-button type="submit" [disabled]="loginInnovatorForm.invalid">Login</button>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Expert">
        <form [formGroup]="loginExpertForm" (ngSubmit)="loginExpert(loginExpertForm)">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Enter Email" formControlName="Email" name="Email" required>            
              <mat-error *ngIf="loginExpertForm.controls['Email'].hasError('required')">
                Please provide an Email
              </mat-error>
              <mat-error *ngIf="loginExpertForm.controls['Email'].hasError('email')">
                Invalid Email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Enter Password" formControlName="Password" name="Password" required>
              <mat-error *ngIf="loginExpertForm.controls['Password'].hasError('required')">
                Please provide a Password
              </mat-error>
              <mat-error *ngIf="loginExpertForm.controls['Password'].hasError('minlength')">
                Minimum 3 Characters required for the password
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <button mat-raised-button type="submit" [disabled]="loginExpertForm.invalid">Login</button>
          </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</body>
</html>