<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="table">
  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    <mat-tab label="Innovator">
      <form [formGroup]="loginInnovatorForm" (ngSubmit)="loginInnovator(loginInnovatorForm)">
        <div class="form-group" id="elements">
          <!-- <mat-form-field appearance="fill">
            <mat-label>Email</mat-label> -->
            <div>
              <input class="input-container" type="email" placeholder="Email" formControlName="Email" name="Email" required>
            </div>
            <div class="middle" *ngIf="loginInnovatorForm.controls['Email'].errors && loginInnovatorForm.controls['Email'].touched">
              <mat-error *ngIf="loginInnovatorForm.controls['Email'].hasError('required')">
                Please provide an Email
              </mat-error>
              <mat-error *ngIf="loginInnovatorForm.controls['Email'].hasError('email')">
                Invalid Email
              </mat-error>
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div class="form-group" id="elements">
          <!-- <mat-form-field appearance="fill">
            <mat-label>Password</mat-label> -->
            <div>
              <input class="input-container" type="password" placeholder="Password" formControlName="Password" name="Password" required>
            </div>
            <div class="middle" *ngIf="loginInnovatorForm.controls['Password'].errors && loginInnovatorForm.controls['Password'].touched">
              <mat-error *ngIf="loginInnovatorForm.controls['Password'].hasError('required')">
                Please provide a Password
              </mat-error>
              <mat-error *ngIf="loginInnovatorForm.controls['Password'].hasError('minlength')">
                Minimum 3 Characters
              </mat-error>
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div class="form-group" id="login-button">
          <button mat-raised-button type="submit" [disabled]="loginInnovatorForm.invalid">Login</button>        
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Expert">
        <form [formGroup]="loginExpertForm" (ngSubmit)="loginExpert(loginExpertForm)">
          <div class="form-group" id="elements">
            <!-- <mat-form-field appearance="fill">
              <mat-label>Email</mat-label> -->
              <div>
                <input class="input-container" type="email" placeholder="Email" formControlName="Email" name="Email" required>            
              </div>
              <div class="middle" *ngIf="loginExpertForm.controls['Email'].errors && loginExpertForm.controls['Email'].touched">
                <mat-error *ngIf="loginExpertForm.controls['Email'].hasError('required')">
                  Please provide an Email
                </mat-error>
                <mat-error *ngIf="loginExpertForm.controls['Email'].hasError('email')">
                  Invalid Email
                </mat-error>
              </div>
            <!-- </mat-form-field> -->
          </div>
          <div class="form-group" id="elements">
            <!-- <mat-form-field appearance="fill">
              <mat-label>Password</mat-label> -->
              <div>
                <input class="input-container" type="password" placeholder="Password" formControlName="Password" name="Password" required>
              </div>
              <div class="middle" *ngIf="loginExpertForm.controls['Password'].errors && loginExpertForm.controls['Password'].touched">
                <mat-error *ngIf="loginExpertForm.controls['Password'].hasError('required')">
                  Please provide a Password
                </mat-error>
                <mat-error *ngIf="loginExpertForm.controls['Password'].hasError('minlength')">
                  Minimum 3 Characters required for the password
                </mat-error>
              </div>
            <!-- </mat-form-field> -->
          </div>
          <div class="form-group" id="login-button">
            <button mat-raised-button type="submit" [disabled]="loginExpertForm.invalid">Login</button>
          </div>
      </form>
    </mat-tab>
  </mat-tab-group>
  </div>
</body>
</html>