<app-navbar [role]="'Innovator'"></app-navbar>
<div class="card-container">
    <mat-card *ngFor="let project of projects" class="project-card">
      <mat-card-header>
        <mat-card-title>{{ project.projectTitle }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Description : {{ project.description }}</p>
        <p>Status : {{ project.status }}</p>
        <!-- <p *ngIf="project.status =='Running' || project.status == 'Completed'">Expert : {{ project.expertId }}</p> -->
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="project.status !='Running' && project.status != 'Completed'" mat-button color="primary" (click)="openProposalDialog(project)">View Proposals</button>
        <button *ngIf="project.status =='Running'" mat-button color="primary" (click)="updateStatusCompleted(project)">Mark As Complete</button>
        <button *ngIf="project.status =='Running' || project.status == 'Completed'" mat-button color="primary" (click)="openExpertDialog(project)">Expert Info</button>
      </mat-card-actions>
    </mat-card>
  </div>
  