

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

    <a class="navbar-brand border border-light px-4 py-1" href="#">InovationHub</a> -->


    <!-- START: dropdown  -->

    <!-- <div class="d-flex">

    <div class="text-light mr-3">My Project</div>

    <div ngDropdown class="dropdown">

    <div ngbDropdown class="d-inline-block">

    <a class="nav-link dropdown-toggle text-light" id="dropdownBasic1" href="#" role="button" ngbDropdownToggle>

                  Profile

    </a>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

    <button ngbDropdownItem>My Pofile</button>

    <button ngbDropdownItem>Logout</button>

    </div>

    </div>

    </div>

    </div> -->

    <!-- END: dropdown  -->
<!-- 
    </div>

    </nav> -->




    <!-- NEW NAVBAR -->
      <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">INNOVATION_HUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" routerLink="/login">Login</a>
            <a class="dropdown-item" routerLink="/registration">Registration</a>            
            <button class="dropdown-item"  (click)="logout()">Logout</button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#my project">My Project</a>
        </li>
      </ul>
    </div>
  </nav>




