

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

    <a class="navbar-brand border border-light px-4 py-1" href="#">InovationHub</a>


    <!-- START: dropdown  -->

    <div class="d-flex">

    <div class="text-light mr-3">My Project</div>

    <div ngDropdown class="dropdown">

    <div ngbDropdown class="d-inline-block">

    <a class="nav-link dropdown-toggle text-light" id="dropdownBasic1" href="#" role="button" ngbDropdownToggle>

                  Profile

    </a>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

    <button ngbDropdownItem>My Pofile</button>

    <button ngbDropdownItem>Logout</button>

    </div>

    </div>

    </div>

    </div>

    <!-- END: dropdown  -->

    </div>

    </nav>




