<div class="container d-flex justify-content-between flex-wrap ">
<div *ngFor="let proposal of proposals" class="card shadow-lg mt-5 pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="card-body" (click)="onClick(proposal.projectId,proposal.proposalId,proposal.expertId)">
      <!-- <h5 class="card-title">Project Name</h5> -->

      <p class="card-text" style="font-family: Georgia; font-weight: 600; font-size: 13px; color: #5c5b5b;">{{proposal.proposalComment}}</p>
      <div class="d-flex flex-row justify-content-between">
          <h5>{{proposal.submissionDate}}</h5>

          <h6 class="card-subtitle mb-2 text-success" style="font-family: Georgia; font-weight: 600; font-size: 12px; color: #139224;">{{proposal.status}}</h6>
        </div>
    </div>
  </div>
</div>
   

 

<!-- Main Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  <div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">{{project.projectTitle}}</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="card-text">{{project.description}}</p>
    <p class="card-text">{{project.requiredSkills}}</p>
  </div>
  <div class="modal-footer d-flex flex-row justify-content-between">
  <!-- <h6>11 May, 2023</h6> -->
  <!-- Button to trigger another modal -->
  
  <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">
                Edit
  </button>
  <button type="button" class="btn btn-danger btn-lg" (click)="proposalDeleted()">Delete</button>
  
  
  
  
  
  </div>
  </div>
  </div>
  </div>
  
  
  
  <!-- Another Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="myModalLabel">Popup Title</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  <!-- Form content goes here -->
   <form [formGroup]="UpdateForm" (ngSubmit)="propsalUpdated(UpdateForm)"> 
  
  
    <label for=" proposalComment" class="form-label">Proposal Description</label>
    <input type="text" class="form-control" id="proposalComment"
        formControlName="proposalComment">
  <!-- <div class="mb-3">
  <label for="ProjectDocument" class="form-label">Project Document</label>
  <input type="text" class="form-control" id="ProjectDocument">
  </div> -->
  
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
  </div>
  </div>
  </div>
  </div>

