/* dashboard.component.css */
mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #1976D2;
    color: white;
    padding: 0 16px;
  }
  
  /* Move the menu button to the right */
  button[mat-icon-button] {
    order: 2; /* Adjust the order property to control the button's position */
    color: #f5efed; /* Change the button's color to your desired tone */
    margin-left: -20px; /* Push the button to the right */
  }
  
  span {
    font-size: 24px;
  }
  
  /* Style the dropdown menu */
  .mat-menu-content {
    background-color: #1976D2;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the menu items */
  button.mat-menu-item {
    min-width: 150px;
    text-align: left;
  }
  
  /* Style the menu item hover effect */
  button.mat-menu-item:hover {
    background-color: #1565C0;
  }
  
  /* Optional: Add padding to menu items for better spacing */
  button.mat-menu-item {
    padding: 8px 16px;
  }
  
  /* Optional: Style the logout button differently */
  button.mat-menu-item:last-child {
    color: #FF5722;
  }
  
  /* Optional: Style the logout button hover effect */
  button.mat-menu-item:last-child:hover {
    background-color: #E64A19;
  }
  