<!-- Main Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">List Of Experts</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Skills</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Add Exper</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>java</td>
                        <td>3</td>
                        <td>
                            <button class="btn btn-info">Accept</button>
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </form>



            </div>
            <div class="modal-footer d-flex flex-row justify-content-between">
                <h6>11 May, 2023</h6>
                <!-- Button to trigger another modal -->

                <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">
                    Edit
                </button>
                <button type="button" class="btn btn-danger btn-lg">Delete</button>





            </div>
        </div>
    </div>
</div>



<!-- Another Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Popup Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form content goes here -->
                <form [formGroup]="formValue">
                    <!-- Form fields and controls -->
                    <div class="mb-3">
                        <label for="ProjectTitle" class="form-label">Project Title</label>
                        <input type="text" formControlName="projectTitle" class="form-control" id="ProjectTitle">
                    </div>
                    <div class="mb-3">
                        <label for="ProjectDocument" class="form-label">Project Document</label>
                        <input type="text" formControlName="projectDocument" class="form-control" id="ProjectDocument">
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label"> Description</label>
                        <input type="text" formControlName="description" class="form-control" id="Description">
                    </div>
                    <div class="mb-3">
                        <label for="Requiredskills" class="form-label"> Required Skills</label>
                        <input type="text" formControlName="requiredskills" class="form-control" id="Requiredskills">
                    </div>



                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>