<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Project Name</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum velit repellendus ipsum blanditiis excepturi cum tempore, ut officia atque labore debitis, omnis quos fuga ratione. Quo magnam eum neque rem.
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum velit repellendus ipsum blanditiis excepturi cum tempore, ut officia atque labore debitis, omnis quos fuga ratione. Quo magnam eum neque rem.
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum velit repellendus ipsum blanditiis excepturi cum tempore, ut officia atque labore debitis, omnis quos fuga ratione. Quo magnam eum neque rem.
    </div>
    <div class="modal-footer d-flex flex-row justify-content-between">
    <h6>11 May,2023</h6>  
    <h6 class="card-subtitle mb-2 text-success">Project Status</h6>
    </div>
    </div>
    </div>
    </div>
