  
  /* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

/* Hero Unit Styles */
.jumbotron {
  /* background-image: url('images/product.jpg'); */
  background-size: cover;
  color: #582727;
  text-align: center;
  padding: 6rem 0;
}

.jumbotron h1 {
  font-size: 4rem;
}

.jumbotron p {
  font-size: 1.5rem;
}

/* Main Content Styles */
#services, #portfolio, #contact {
  padding: 6rem 0;
}

h2 {
  text-align: center;
}

.card {
  margin-bottom: 2rem;
}

/* Footer Styles */
footer {
  color: #382274;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
}

footer p {
  font-size: 1rem;
}

.list-inline-item {
  margin: 0 0.5rem;
}

.list-inline-item a {
  color: #fff;
  font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
  }
  
  .jumbotron {
    padding: 4rem 0;
  }
  
  .jumbotron h1 {
    font-size: 3rem;
  }
  
  .jumbotron p {
    font-size: 1.2rem;
  }
  
  .card {
    margin-bottom: 1rem;
  }
  
  footer h4 {
    font-size: 1.2rem;
  }
  
  footer p {
    font-size: 0.9rem;
  }
  
  .list-inline-item a {
    font-size: 1.2rem;
  }
}
