<section class="expert-section">
    <h2>Username : {{ expert?.username }}</h2>
    <ul class="expert-info-list">
      <li class="expert-info-item">
        <div class="expert-content">
          <div *ngIf="show==true" class="expert-description"> Email : {{ expert?.email }}</div> 
          <div class="expert-description"> Skills : {{ expert?.skills }}</div> 
          <div class="expert-description"> Budget (Rupess/hour) : {{ expert?.budget }}</div>          
        </div>
      </li>
    </ul>
    <button mat-button (click)="closeDialog()" class="close-button">Close</button>
  </section>
  