
  

 <!-- <app-navbar></app-navbar> -->

  <!-- <app-navbar></app-navbar> -->

  <router-outlet> </router-outlet>
  <!-- <app-innovatorproject></app-innovatorproject>
  <app-innovatorproject></app-innovatorproject>  -->
 


<!-- <app-innovatorproject></app-innovatorproject>  -->
<!-- <app-proposalhome></app-proposalhome> -->
<!-- <app-innovatorprojecthome></app-innovatorprojecthome> -->

<!-- <app-expertproposal></app-expertproposal> -->
<!-- <router-outlet> </router-outlet> -->

<!-- <app-expertproposal></app-expertproposal> -->

